/*
    nextflow run . -profile conda,local --input <file.csv> --outdir <outdir.name>
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '12.GB',
        time: '2.h'
    ]
}

profiles {
    singularity {
        singularity.cacheDir = "${projectDir}/singularity_cache"
    }
}

params {
    config_profile_name        = 'Local profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
}